body {
  padding-top: 70px;
  padding-bottom: 0;
  background: url('../imagens/background.jpg');
}
fieldset {
  margin-top: 20px;
}
h1 {
  margin-bottom: 30px;
}
h2 {
  margin-bottom: 30px;
}
form h4 {
  font-weight: bold;
}
p.info {
  font-size: 14px;
  font-color: grey;
  text-align: center !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
p.botoes {
  text-align: center !important;
}
p.msg {
  font-size: 22px;
  text-align: center !important;
  margin-top: 50px;
  margin-bottom: 50px;
}
p.erro {
  color: red;
}
td {
  font-size: 13px;
}
#container-base {
  background-color: white;
}
#corpo {
    min-height: 400px;
    font-size: 16px;
}
#corpo ul li {
    padding-top: 10px;
    text-align: justify;
}
#corpo p {
  text-align: justify;
}
.cc-map-wrapper {
  position: relative;
  padding-bottom: 75%; /* 4:3 */
  padding-top: 25px;
  height: 0;
}
.cc-map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; !important;
  height: 100%; !important;
}
.maxwidth {
  max-width: 980px;
}
.banner {
  max-width: 100%;
  clear: both;
  display: block;
  border-bottom: 2px solid black;
}
.required-mark {
  color: red;
}
.titulo-noticia {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 17px;
  text-align: justify;
}
.foto {
    max-width: 100%;
}
.ancora, .ancora:hover {
    color: inherit;
    text-decoration: none;
}
.justificado {
    text-align: justify;
}
.alert {
  text-align: center !important;
}
.required {
  color: red;
  font-weight: bold;
  font-size: 14px;
}