RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond $1 !^(index\.php|css|images|js|woff|eot|ttf|svg|resources|robots\.txt)
RewriteRule ^(.*)$ ./index.php/$1 [L]
php_value post_max_size 10M
php_value upload_max_filesize 10M
